@import url(_reset.css);

body {
  margin: 0;
  padding: 0;
  background-color: #efebef;
  box-sizing: border-box;
}
footer ,menu ,main ,header::after {
  clear: both;
  display: block;
  content: " ";
}
.main-toy-highlights::after {
  clear: both;
  display: block;
  content: " ";
} 
header.page-header {
  width: 100%;
  background-color: #3eb6de;
  box-sizing: border-box;
}
div.box-header {
  height: auto;
  background-color: #393838;
  width: 94%;
  margin: 0 auto;
}
div.logo-left {
  float: left;
  line-height: 7.6em;
}
p.txt-toyshop {
  color: #f9fcfd;
  font-size: 2.5em;
}
div.search-center {
  float: left;
  width: 41%;
  margin-top: 2.3em;
  margin-left: 17%;
}
input.search {
  float: left;
  width: 71%;
  height: 31px;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
div.box-icon-search {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  float: left;
  padding: 0.57em;
  border: 1px solid #9a9a9a;
  background-color: #f79701;
  width: 23px;
}
#icon-search {
  color: #fbdba4;
}
div.cart-right {
  margin-top: 2.3em;
  float: right;
}
div.box-cart {
  border-radius: 21px;
  background-color: #2d8aa5;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  width: 350px;
}
#icon-cart {
  color: #c2e2e7;
  margin-left: 15px;
}
span.txt-shopping {
  margin: 0;
  margin-left: 0.4em;
  color: #c2e2e7;
}
span.txt-item {
  margin-left: 6em;
  color: #c2e2e7;
}
#icon-down {
  color: #c2e2e7;
}
p.txt-cart {
  font-size: 1em;
  margin-left: 39px;
  color: #a6e9f7;
  margin-top: 1em;
  margin-left: 2em;
}
div.boder-bottom {
  width: 100%;
}
p.border {
  border-bottom: 4px solid #3badd4;
  margin: 0;
}
menu.page-menu {
  padding: 0;
  margin-top: 0;
  width: 100%;
  background-color: #3eb6de;
}
div.box-menu {
  width: 94%;
  margin: 0 auto;
}
menu.bar-menu {
  display: inline;
}
ul.menu {
  margin: 0;
}
li.item-menu {
  display: inline-flex;
}
a.type-item-menu {
  text-decoration: none;
  color: #aff1fc;
  padding: 1.44em;
}
a.type-item-home {
  padding: 1.44em;
  padding-left: 0.8em;
  color: #aff1fc;
}
#icon-home {
  margin-right: 4px;
}
menu nav ul li a:hover {
  background-color: #43c7e7;
  color: #f9fcfd;
}
main.page-main {
  margin: 0 auto;
  width: 100%;
  background-color: #efebef;
  height: 1454px;
  margin-bottom: 0.5em;
}
div.main {
  width: 94%;
  margin: 0 auto;
}
article.main-left {
  margin-top: 1em;
  float: left;
  width: 76%;
  background-color: #efebef;
}
div.main-toy-highlights {
  background-color: #ffffff;
}
div.img-toy-highlights {
  float: left;
  width: 50%;
}
img.toy-highlights {
  width: 100%;
}
div.information-toy-highlights {
  margin-right: 4%;
  margin-top: 4%;
  float: right;
  width: 41%;
}
p.name-toy-highlights {
  color: #6d706d;
  margin-top: 5%;
  margin-bottom: 4%;
  font-size: 1.5em;
}
p.information-toy-highlights {
  color: #b0aeb0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
p.price-toy-highlights {
  color: #f8b243;
  font-size: 1.5em;
  margin-top: 1em;
}
div.add-cart-btn-highlights {
  width: 22%;
  padding: 0.2em;
  background-color: #5acfe7;
  margin-top: 6%;
}
div.add-cart-btn-highlights:hover {
  background-color: #2d8aa5;
}
p.add-to-cart-highlights {
  font-size: 0.9em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  color: #e8f7fe;
}
div.main-toy-latest {
  width: 100%;
  background-color: #ffffff;
  display: inline-block;
  margin-top: 2em;
}
div.box-latest {
  width: 100%;
  background-color: #f7f7f7;
}
p.latest {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 1.5em;
  color: #1b160e;
  margin-top: 0;
  padding: 1em;
  padding-left: 0px;
}
div.box-products-latest {
  float: left;
  width: 20%;
}
img.product-latest {
  width: 74%;
  height: 11em;
  margin-left: 12%;
  margin-top: 1%;
}
p.name-product-latest {
  color: #90d5eb;
  margin-top: 0;
  font-size: 1.3em;
  text-align: center;
}
p.information {
  text-align: center;
  font-size: 0.95em;
  margin-bottom: 0;
  margin-top: 0.5em;
}
p.price-product-latest {
  text-align: center;
  font-size: 1.5em;
  margin-top: 11px;
  color: #f8ac5c;
}
div.add-cart-btn-latest {
  width: 45%;
  padding: 0.2em;
  background-color: #5acfe7;
  margin-left: 25%;
  margin-bottom: 6%;
  margin-top: 6%;
}
p.add-to-cart-latest {
  font-size: 0.9em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  color: #e8f7fe;
}
div.add-cart-btn-latest:hover {
  background-color: #2d8aa5;
}
p.CONSECTETUR {
  color: #dd799b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 1.5em;
  margin-top: 0;
  padding: 1em;
  padding-left: 0;
}
aside.main-right {
  margin-top: 0.97em;
  float: right;
  width: 22%;
  background-color: #efebef;
}
div.main-toy-speacial {
  width: 100%;
  background-color: #ffffff;
}
div.box-speacial {
  width: 100%;
  background-color: #393838;
  margin-top: 0;	
}
p.speacial {
  margin-top: 0;
  padding: 1em;
  color: #d5e1de;
}
img.product-speacial {
  width: 50%;
  margin-left: 24%;
  margin-top: 1%;
}
div.information-product-speacial {
  padding-bottom: 2em;
}
p.name-product-speacial {
  color: #90d5eb;
  margin-top: 2em;
  font-size: 1.3em;
  text-align: center;
}
p.price-product-speacial {
  text-align: center;
  font-size: 1.33em;
  margin-top: 0.9em;
  margin-bottom: 1em;
  color: #f8ac5c;
}
span.oldprice-product-speacial {
  margin-right: 0.5em;
  color: #bfbcc1;
  text-decoration: line-through;
}
div.add-cart-btn-speacial {
  width: 30%;
  padding: 0.2em;
  background-color: #5acfe7;
  margin-left: 33%;
}
p.add-cart-speacial {
  font-size: 0.9em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  color: #e8f7fe;
}
div.add-cart-btn-speacial:hover {
  background-color: #2d8aa5;
}
div.main-toy-categories {
  width: 100%;
  background-color: #ffffff;
  margin-top: 1.5em;
}
div.box-toy-categories {
  width: 100%;
  background-color: #37a6c6;
  margin-top: 0;	
}
p.categories {
  margin-bottom: 0;
  margin-top: 0;
  padding: 1em;
  color: #d5e1de;
}
ul.bar-item {
  padding: 0;
}
li.item-categories {
  border: 1px solid #9fd6e8;
  padding: 0.6em;
  background-color: #3eb6de;
}
a.type-item-categories {
  text-decoration: none;
  list-style-type: none;
}
p.name-item-categories {
  margin: 0;
  margin-left: 1em;
  color: #61d9f4;
}
div.main-toy-new {
  width: 100%;
  background-color: aliceblue;
  margin-top: 1.5em;
  margin-bottom: 8em;
}
div.box-toy-new {
  width: 100%;
  background-color: #393838;
  margin-top: 0;
}
p.new {
  margin-bottom: 0;
  margin-top: 0;
  padding: 1em;
  color: #d5e1de;
}
div.box-img-information {
  width: 100%;
  height: 9.4em;
  background-color: #ffffff;
  margin-bottom: 2px;
}
img.toy-new {
  width: 51%;
  height: 100%;
  float: left;
}
div.information-toy-new {
  float: right;
  margin-bottom: 1px;
  width: 49%;
}
p.name-toy-new {
  margin-right: 2em;
  color: #90d5eb;
  margin-top: 0.8em;
  font-size: 1.3em;
  text-align: center;
}
p.price-toy-new {
  color: #f8ac5c;
  margin-left: 17%;
  margin-top: 1.3em;
  font-size: 1.3em;
}
footer.page-footer {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #3eb6de;
}
ul.footer {
  text-align: center;
  margin: 0;
}
li.item-footer {
  display: inline-block;
  font-size: 20px;
  margin-top: 1em;
  padding: 0 8px 0 11px;
}
a.name-item-footer {
  color: black;
  text-decoration: none;
}
